{% extends 'base.html' %}
{% block content %}
{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>

<div class="product-introduction">
  <img class="product-image"
       src="https://images.unsplash.com/photo-1493612276216-ee3925520721?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3"
       alt="상품 이미지" />

  <div class="main-introduction">
    <div class="delivery">샛별배송</div>

    <div class="product-name">{{ product.name }}</div>

    <div class="price-present">
      <div class="discount-rate">{{ product.discount_rate }}%</div>
      <div class="discount-price" id="unit-price" data-price="{{ product.discount_price }}">
        {{ product.discount_price }} 원
      </div>
    </div>

    <hr style="width: 570px; height:1px;">

    <div class="notice-box">
      <div class="notice-title">안내 사항</div>
      <div class="product-notice">{{ product.notice }}</div>
    </div>

    <hr style="width: 570px; height:1px;">

    <div class="product-count-box">
      <div class="count-title">상품 선택</div>
      <div class="count-box">
        <div class="product-name-2">{{ product.name }}</div>
        <div class="calculator-box">
          <button class="minus-button">-</button>
          <div class="quantity-input" id="quantity">1</div>
          <button class="plus-button">+</button>
        </div>
      </div>
    </div>

    <hr style="width: 570px; height:1px;">

    <div class="login-box">
      <div class="price-box">
        <div class="total-price-word">총 상품 금액: </div>
        <div class="total-price-num" id="total-price">{{ product.discount_price }} 원</div>
      </div>
      <div class="login-button">
        <a class="login" href="/accounts/login/">로그인</a>
      </div>
    </div>
  </div>
</div>

<div class="screen">
  <div
    style="
      width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0px;
    "
  >
  
<!-- 여기에 후기를 작성하는 폼을 만들어주세요! -->
  <div class="product-comment">
  <div class="H1 text-font1" style="margin: 10px">상품후기</div>
    <form action = "create_comment/" method = "POST">
      {% csrf_token %}
      <select name="star" style="margin: 10px">
        <option value="별점">별점</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input id="text_area" type="textarea" name="content">
      <input id="button_click" type="submit" value="등록"> 
    </form> 
  </div>
  
    {% for comment in comments %}
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 8px;
        border-bottom: solid 1px #d9d9d9;
      "
    >
      <div style="display: flex; justify-content: space-between">
        <p>평점:{{comment.star}}</p>
        <a href="{% url 'main:delete_comment' comment.id %}">삭제</a>
      </div>
      <p class="B1">{{comment.content}}</p>
    </div>
    {% endfor%}
  </div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const button_click=document.getElementById("button_click")
	  const text_area=document.getElementById("text_area")
		
	  text_area.addEventListener("input", (event) => {
	    if(text_area.value.trim().length > 0) {
	        button_click.disabled = false;
	        button_click.style.backgroundColor = "red";
	    }
	    else {
	        button_click.disabled = true;
	        button_click.style.backgroundColor = "gray";
	    }
		});
	});
</script>

<script src="{% static 'js/main/product_detail_page.js' %}"></script>

{% endblock %}
