{% extends 'base.html' %}
{% block content %}
{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>

<div class="product-introduction">
  <img class="product-image"
       src="https://images.unsplash.com/photo-1493612276216-ee3925520721?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3"
       alt="상품 이미지" />

  <div class="main-introduction">
    <div class="delivery">샛별배송</div>

    <div class="product-name">{{ product.name }}</div>

    <div class="price-present">
      <div class="discount-rate">{{ product.discount_rate }}%</div>
      <div class="discount-price" id="unit-price" data-price="{{ product.discount_price }}">
        {{ product.discount_price }} 원
      </div>
    </div>

    <hr style="width: 570px; height:1px;">

    <div class="notice-box">
      <div class="notice-title">안내 사항</div>
      <div class="product-notice">{{ product.notice }}</div>
    </div>

    <hr style="width: 570px; height:1px;">

    <div class="product-count-box">
      <div class="count-title">상품 선택</div>
      <div class="count-box">
        <div class="product-name-2">{{ product.name }}</div>
        <div class="calculator-box">
          <button class="minus-button">-</button>
          <div class="quantity-input" id="quantity">1</div>
          <button class="plus-button">+</button>
        </div>
      </div>
    </div>

    <hr style="width: 570px; height:1px;">

    <div class="login-box">
      <div class="price-box">
        <div class="total-price-word">총 상품 금액: </div>
        <div class="total-price-num" id="total-price">{{ product.discount_price }} 원</div>
      </div>
      <div class="login-button">
        <a class="login" href="/accounts/login/">로그인</a>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/main/product_detail_page.js' %}"></script>

{% endblock %}
